:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-anchor {
  color: gray;
  text-decoration: none;
}

.title-anchor:hover {
  text-decoration: underline;
}

.tag-container {
  display: flex; 
  align-items: center;
  gap: 2px; 
  background-color: lightgray;
  border-radius: 4px; 
}

.tag-container > span {
  display: block;
  color: black; 
  font-size: .8rem; 
  padding: .2em .5em .2em .5em;
}

.tag-container > img {
  border-radius: 4px;
  padding: .3em; 
  opacity: 0.5;
}

.tag-container > img:hover {
  background-color: lightcoral;
}

.cardSection {
  margin-top: 2em;
  display: grid;
  gap: 2rem; 
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.filters { 
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.modal {
  background-color: black;
  opacity: .8;
  z-index: 200; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  cursor: default;
}

.modal-primary-background {
  background-color: black;
  opacity: 1;
  border-radius: 5.74543px;
  padding: 2.063em;
  width: 100%;
  max-width: 32.5em;
}

.modal-bg {
  background-color: red;
  opacity: 1;
  width: 100%;
  border-radius: 5.74543px;
  color: black;
}

@media (max-width: 1200px) {
  .cardSection {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .filters {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

}

@media (max-width: 824px) {
  .cardSection {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .filters {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}